* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Roboto;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
