.MuiCard-root{
    width: 100%;
}

.main-article{
    margin-top: 0 !important;
}

.main-article-image{
    height: 300px;
}

.main-article-content{
    color:white;
}

@media screen and (min-width: 800px) {
    .main-article-content{
        width: 50%;
    }

    h5{
        font-size: 40px !important;
    }

    .sub-article{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 30px;

    }
}



