@font-face {
    font-family: "Takota";
    src: url("../Font/Takota.ttf");
  }

.header-container{
  border-bottom:1px solid rgba(0, 0, 0, 0.12);
}

.header-title{
  font-family: "Takota" !important;
  font-size:25px !important;
  text-decoration: none;
  color:black
}

.header-icon{
  position: absolute !important;
  right: 0 !important;
}

.navbar{
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.date{
  margin-bottom: 0 !important;
  font-size: 12px !important;
}

.date-desktop{
  display: none !important;
}

.nav-link, .link{
  text-decoration: none;
  color:black;
}

.nav-link{
  display: none;
}

.MuiPaper-elevation{
  width: 50%;
}

@media screen and (min-width: 800px) {

  .MuiPaper-elevation{
    width: 250px;
  }
}

/*----------Desktop----------*/

@media screen and (min-width: 1000px) {

  .header-container{
    height: 10vh;
  }

  .header-title{
    font-size: 40px !important;
  }

  .date-desktop{
    display: block !important;
    position: absolute !important;
    left: 0 !important;
  }

  .date-mobile{
    display: none !important;
  }

  .navbar{
    display: flex;
    justify-content: space-around;
  }

  .nav-link{
    display: block;
  }
}
