@font-face {
    font-family: "Takota";
    src: url("../Font/Takota.ttf");
  }

.header-container{
  border-bottom:1px solid rgba(0, 0, 0, 0.12);
}

.header-title{
  font-family: "Takota" !important;
  font-size:20px !important;
}

.header-icon{
  position: absolute !important;
  right: 0 !important;
}

.nav-link{
  text-decoration: none;
  color:black;
}

.navbar{
  display: none;
}

.MuiPaper-root{
  width: 250px;
}

/*----------Desktop----------*/

@media screen and (min-width: 1000px) {

  header{
    max-width: 1150px;  
    border-bottom:1px solid rgba(0, 0, 0, 0.12);
  }

  .header-container{
    height: 10vh;
    margin-bottom: 15px;
  }

  .header-title{
    font-size: 40px !important;
  }

  .navbar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  .navbar-line{
    display: block;
  }
}
